.sales {
  background-color: rgb(226, 213, 161);
}
.purchases {
  background-color: rgb(236, 201, 136);
}
.receive {
  background-color: rgb(223, 155, 245);
}
.issue {
  background-color: rgb(183, 96, 140);
}
.grow {
  margin: 15px 5px;
  height: 300px;
}
