<div class="component">
  <div class="flex flex-center">
    <button class="btn btn-primary" (click)="toggleStockTakingForm()">
      add stock taking date
    </button>
  </div>
  @if (showStockTakingForm) {
  <form class="" [formGroup]="tracerForm" (ngSubmit)="setTracerDate()">
    <div class="component flex flex-center">
      <div class="control">
        <input
          type="date"
          name="created_on"
          id="created_on"
          formControlName="created_on"
          class="input-primary"
        />
      </div>

      <div class="control">
        <button
          class="btn-primary--round"
          [disabled]="tracerForm.invalid"
          type="submit"
        >
          <fa-icon [icon]="plusIcon"></fa-icon>
        </button>
      </div>
    </div>
  </form>
  }
</div>
<div class="component">
  <h2 class="text-center">tracer item form</h2>
  <form
    class="flex component"
    [formGroup]="tracerItemForm"
    (ngSubmit)="setTracer()"
  >
    <div class="control">
      <input
        class="input-primary"
        list="inventories"
        formControlName="tracerItem"
        placeholder="eg...paracetamol"
      />
      <datalist id="inventories">
        @for (item of inventoriesStore.inventory(); track $index) {
        <option [value]="item.product.name">{{ item.product.name }}</option>
        }
      </datalist>
    </div>
    <div class="control">
      <input
        class="input-primary"
        type="text"
        value="smallest"
        name="tracerUnit"
        id="tracerUnit"
      />
    </div>
    <div class="control">
      <input
        class="input-primary"
        type="number"
        name="tracer"
        id="tracer"
        formControlName="tracerQuantity"
      />
    </div>
    <div class="control">
      <button type="submit" class="btn btn-primary">set tracer</button>
    </div>
  </form>
</div>

<div class="component">
  <h2 class="text-center">tracer items</h2>
  <search-box (emitSearch)="searchTracers($event)"></search-box>
  <table>
    <thead>
      <tr>
        <th>product</th>
        <th>unit</th>
        <th>quantity</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      @for (item of inventoriesStore.displayedInventories(); track $index) {
      <tr>
        <td>{{ item.product.name }}</td>
        <td>smallest</td>

        <td>
          {{ item.tracer ?? 0 }}
        </td>
        <!-- <td>
          <button class="btn btn-primary" (click)="saveTracer()">set</button>
        </td> -->
        <td>
          <a class="btn btn-primary" [routerLink]="'/view-tracer/' + item._id">
            view
          </a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
