<div class="page">
  <div class="component">
    <h2 class="text-center">{{ "" }}&nbsp;sales &nbsp; statistics</h2>
  </div>

  <div class="component data-frames">
    <!-- conntainer for inventory data -->

    <div class="component flex">
      <!-- headers of the table -->
      <div class="sn flex-10"></div>
      <div class="sn flex-10">sn</div>
      <div class="sn flex-30">product</div>

      <div class="unit flex-10">product</div>
      <!-- <div class="unit flex-10">{{ item.quantity }}</div> -->
      <div class="expiry flex-20">quantity</div>
      <div class="edit flex-20">amount(tzs)</div>
    </div>
    @for (item of salesStore.displayedSalesSummary(); track $index) {
    <div class="component flex data-frame">
      <!-- displays the data frame -->
      <div class="edit flex-10"><fa-icon [icon]="inventoryIcon"></fa-icon></div>
      <div class="sn flex-10">{{ $index + 1 }}</div>

      <div class="product flex-30">{{ item.product }}</div>
      <!-- <div class="unit flex-10">{{ item.quantity }}</div> -->
      <div class="unit flex-10">
        {{ item.unit }}
      </div>
      <div class="unit flex-20">
        {{ item.quantity }}
      </div>
      <div class="unit flex-20">
        {{ item.price | currency : "tsh" }}
      </div>
    </div>
    }
  </div>
</div>
