<div class="page flex hide-scroll">
  <div class="flex-20 h-full menu">
    <dropdown-links
      [open]="true"
      [title]="'actions'"
      [links]="outletStore.adminLinks()"
    ></dropdown-links>
    <dropdown-links
      [open]="true"
      [title]="'other links'"
      [links]="outletStore.manageLinks()"
    ></dropdown-links>
  </div>
  <div class="flex-80 h-full">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="page">
  <div class="container menu">
    <div class="links">
      <dropdown-links
        [title]="'logs'"
        [links]="[{ name: 'logs', url: '/admin/logs' }]"
      ></dropdown-links>
      <dropdown-links
        [title]="'create'"
        [links]="createLinks"
        [open]="true"
      ></dropdown-links>
      <dropdown-links [title]="'app links'" [links]="appLinks"></dropdown-links>
    </div>
  </div>
  <main class="container main-content">
    
    <router-outlet></router-outlet>
  </main>
</div> -->
