.is-destination {
  color: blue;
}
.is-source {
  color: green;
}
.issued {
  background-color: lightgreen;
}
.pending {
  background-color: rgb(246, 189, 189);
}
.summary {
  padding-left: 10px;
  color: rgb(63, 63, 72);
}
