.menu {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  height: 30px;

  a {
    text-decoration: none;
    font-weight: 600;
    color: #333;

    &.active {
      color: #0078d4;
      border-bottom: 2px solid #0078d4;
      padding-bottom: 2px;
    }
  }
}
