<div class="tomasha hide-scroll">
  <header class="flex">
    <div class="flex align-center logo">Pharmacy Systems&reg;</div>
    <div class="ml-auto">
      <user></user>
    </div>
  </header>
  <div class="tomasha-main hide-scroll">
    <router-outlet></router-outlet>
  </div>

  <footer class="flex flex-center">
    created by tanprograma LLC&copy;2024. for help call +255 685 926 033
  </footer>
  <!-- loading things -->
  @if (notificationService.notification.loading) {
  <div class="loading">
    @if (notificationService.notification.status==undefined) {

    <allert-loading />

    } @if (notificationService.notification.status==true) {

    <allert-success />

    } @if (notificationService.notification.status==false) {

    <allert-failure />

    }
  </div>
  }
</div>
