<div class="page">
  <div class="component action-header">
    <h2 class="text-center">
      {{ outletStore.selectedStore()?.name }} &nbsp;tracer report
    </h2>
  </div>
  <tracer-form></tracer-form>
  <div class="component">
    <search-box (emitSearch)="filterTracer($event)"></search-box>
    <table>
      <thead>
        <tr>
          <th>sn</th>
          <th>product</th>
          <th>unit</th>
          <th>initial</th>
          <th>received</th>
          <th>purchased</th>
          <th>issued</th>
          <th>sold</th>

          <th>total-received</th>
          <th>total-issued</th>
          <th>comp-available(A)</th>
          <th>available(B)</th>
          <th>A&minus;B</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        @for (item of inventoriesStore.displayedTracers(); track $index) {
        <tr
          [class.positive]="isPositive(item)"
          [class.negative]="!isPositive(item)"
        >
          <td>{{ $index + 1 }}</td>
          <td>{{ item.product }}</td>
          <td>smallest</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.received }}</td>
          <td>{{ item.purchased }}</td>
          <td>{{ item.issued }}</td>
          <td>{{ item.dispensed }}</td>
          <td>{{ totalReceived(item) }}</td>
          <td>{{ totalIssued(item) }}</td>
          <td>{{ getComputed(item) }}</td>
          <td>{{ item.available }}</td>
          <td>{{ getDifference(item) }}</td>
          @if(isPositive(item)){
          <th>&uarr; issue by {{ absDiff(item) }}</th>
          }@else if(!isPositive(item)){
          <th>&darr; issue by {{ absDiff(item) }}</th>
          }@else {
          <th>balanced</th>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
