<form class="component" [formGroup]="requestForm" (ngSubmit)="addToCart()">
  <div class="component flex flex-center">
    <div class="control">
      <select
        type="text"
        name="customer_id"
        id="customer_id"
        formControlName="source"
        placeholder="donor store..."
        class="input-primary"
      >
        <option value="" disabled>select source store</option>
        @for (item of outletStore.donorStores(); track $index) {

        <option [value]="item.name">
          {{ item.name }}
        </option>
        }
      </select>
    </div>
    <div class="control">
      <input
        list="inventories"
        id="product"
        name="product"
        placeholder="product name"
        autocomplete="off"
        formControlName="product"
        class="input-primary"
        (change)="setUnits()"
      />
      <datalist id="inventories">
        @for (item of inventoriesStore.inventory(); track $index) {
        <option [value]="item.product.name">
          {{ item.product.name }}
        </option>
        }
      </datalist>
    </div>
    <div class="control">
      <select
        class="input-primary"
        name="unit"
        id="unit"
        formControlName="unit"
      >
        <option value="" selected disabled>select unit</option>
        @for (item of units; track $index) {
        <option [value]="item.name">{{ item.name }}</option>
        }
      </select>
    </div>
    <div class="control">
      <input
        type="number"
        name="quantity"
        id="quantity"
        formControlName="requested"
        class="input-primary"
      />
    </div>
    <div class="control">
      <button class="btn-primary--round" [disabled]="requestForm.invalid">
        <fa-icon [icon]="plusIcon"></fa-icon>
      </button>
    </div>
  </div>
</form>
<div class="component items-in-cart">
  <div class="flex flex-center">
    <div class="informatique">
      {{ this.requestStore.cart().length }} &nbsp; <span class="">items</span>
    </div>
    <div class="informatique">
      {{ getValue() | currency : "TZS" }}
    </div>
    <button class="btn-primary" (click)="toggleCart()">
      <fa-icon [icon]="showMoreItems ? angleUp : angleDown"></fa-icon> &nbsp;
      {{ showMoreItems ? "less" : "more" }}
    </button>
  </div>
  @if (showMoreItems) {
  <cart
    [cartItems]="this.requestStore.cart()"
    (onRemove)="removeFromCart($event)"
  />
  }
</div>
@if (this.requestStore.cart().length>0) {
<div class="component flex flex-center">
  <button
    class="btn-primary"
    (click)="submitRequest()"
    [disabled]="this.requestStore.cart().length == 0"
  >
    SEND TRANSFER REQUEST
  </button>
</div>
}
