.page {
  background-color: lightgrey;
}

.data-frame:hover {
  cursor: pointer;
  background-color: rgb(180, 245, 180);
}
.manage-area-action {
  height: 50px;
}
.action-btn {
  top: 0;
  right: 0;
}
.manage-comp {
  background-color: rgb(214, 227, 235);
}
.expired {
  background-color: red;
  color: white;
}
